<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>

<!-- Bootstrap requires the following three meta tags to appear first -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Vocabulary Anagram</title>

<!-- Javascript and Cascading Style Sheets (css) libraries -->
<!-- mostly from content delivery networks                 -->

<!-- jquery; CDN load is usually quick because it's likely cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Bootstrap stylesheet let's us have a 'responsive' layout; -->
<!-- 12 column grid rearranges itself for smaller screens or windows. -->

<!-- per http://getbootstrap.com/getting-started/  -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
 integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
 src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
 integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
 crossorigin="anonymous">
</script>

<!-- Our own css file.  Note how we can link directly here and not -->
<!-- write any routing code in the Flask application. -->
<link rel="stylesheet" type="text/css" href="/static/jumble.css">

</head>

<body>
<div class="container">

  <div class="row">
    <div class="col-xs-6 text-center">
      <h1>Words</h1>
    </div>
  </div>
<!-- Vocabularly words layed out in 6 columns;
     bootstrap may collapse to fewer columns and
     more rows if the window is narrow. -->

<div class="row">
  {% for word in g.vocab %}
    <div class="col-xs-2 text-center"><p>{{ word }}</p> </div>
    {% if loop.index is divisibleby 3 %}
    </div> <!-- row -->
    <div class="row">
    {% endif %}
  {% endfor %}
</div> <!-- row -->

<br />

<div class="row">
  <div class="col-xs-6 text-center">
   <h3>Use letters from</h3>
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center lead">
    <h2><strong>{{ session.jumble }}</strong></h2>
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center">
    <h3>to spell {{session.target_count}} words from the list.</h3>
  </div> <!-- col -->
</div> <!-- row -->
<br />
<div class="row">
  <div class="col-xs-6 text-center">
  <form id="entry">
    <label for="attempt">Word:</label>
    <input id="attempt" name="attempt" type="text" width="15"
      autocomplete="off"  autofocus />
  </form>
</div></div>

<h4 id="response"> </h4>

<h3><strong>You have found:</strong></h3>

<p class="wide" id="words"> </p>
<p id="again"> </p>

<script>

$("#entry").submit(function(event) {
    event.preventDefault();
  });

$("#attempt").keyup(function(event) {
    var txt = $("#attempt").val();
    var keycode = event.which;
    var letter = String.fromCharCode(keycode);
    
    console.log("keyup event triggered with keycode: " + keycode + " and text: " + txt)
     
    if(!"ABCDEFGHIJKLMNOPQRSTUVWXYZ".includes(letter)){ return; }

    $.getJSON("/_check", {text: txt}, function(data) {
        rsval = data.result.match;
        rsenough = data.result.enough;
        console.log("rsval: " + rsval)
        if(rsval == "new_match"){
            if(rsenough){
                $("#response").text("You found all of the words! YOU WIN!!!");
                $("#words").append(txt + "\n");
                $("#attempt").val("");
                $("#attempt").attr("disabled", "disabled");
                $("#again").html("<a href=\"/index\">Play again?</a>");
            } else {
                $("#response").text("You found one of the words!");
                $("#attempt").val("");
	        $("#words").append(txt + "<br>");
            }
        }
        else if(rsval == "in_list"){
            $("#response").text("In the list, keep going!");
        }
        else if(rsval == "not_in_jumble"){
            $("#response").text("Used an incorrect letter, please try again...");
            $("#attempt").val("");
        }
        else {
            $("#response").text("Already found or not in the list, please try again...");
            $("#attempt").val("");
        }
    });
});
</script>

<br />


{% if session.matches|length is not equalto 0  %}
<h2>You found </h2>
<p id="results">
  {% for match in session.matches %}
  {{ match }} 
  {% endfor %}
</p>
{% endif %}


{% with messages = get_flashed_messages() %}
  {% if messages %}
    <!-- Mismatch, already found, etc. "flashed" from Python -->
    {% for message in messages %}
      <p class="message">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}



 </div> <!-- container -->
</body> </html>
